.create-template {

    @apply w-full p-5 border border-gray-200 dark:border-gray-700 rounded-lg;

    .icon {

        @apply cursor-pointer;

        svg {

            @apply stroke-gray-500 dark:stroke-gray-400;
            
        }

        &.disabled {

            svg {

                @apply stroke-gray-400 dark:stroke-gray-500;
            
            }

            @apply pointer-events-none;

        }

    }


    .create-template-header {

        @apply flex items-center mb-5;

        .template-title {

            @apply flex gap-2.5 w-full mr-3;

            input {

                @apply w-full text-xl font-medium outline-none bg-transparent text-gray-600 dark:text-white;
            
                &::placeholder {

                    @apply text-gray-600 dark:text-white;
                    
                }

            }

        }

        .config-col {

            @apply flex p-2 border border-gray-200 dark:border-gray-700 rounded-md;

            div + div {

                @apply pl-2.5 ml-2.5 border-l border-gray-200 dark:border-gray-700;

            }

        }

    }

    .create-template-content {

        textarea {

            @apply w-full text-lg resize-none bg-transparent outline-none overflow-y-auto text-gray-500 dark:text-gray-300;

        }

    }

}