/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply dark:bg-gray-800 text-gray-700;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

p {
  @apply text-lg text-gray-500 dark:text-gray-300;
}

.main-content {
  @apply max-h-screen;
}

.section {
  @apply p-10 w-full overflow-y-auto;
}

.container {
  @apply mx-auto;
}

.main-content {
  @apply flex;
}
.main-content .content {
  @apply flex-1;
}

.duration-timer-card {
  @apply p-3 bg-white dark:bg-gray-700 rounded border border-gray-200 dark:border-gray-600 inline-flex flex-col gap-1;
}
.duration-timer-card .time-label {
  @apply text-sm text-gray-600 dark:text-gray-300;
}
.duration-timer-card .timer-wrapper {
  @apply flex gap-2 items-center;
}
.duration-timer-card .timer-wrapper .timer {
  @apply flex border border-gray-200 dark:border-gray-600 rounded;
}
.duration-timer-card .timer-wrapper .timer .btn {
  @apply outline-none h-8 w-8 p-1;
}
.duration-timer-card .timer-wrapper .timer .btn svg {
  @apply w-full stroke-gray-500 dark:stroke-gray-400;
}
.duration-timer-card .timer-wrapper .timer .btn.disabled svg {
  @apply stroke-gray-300 dark:stroke-gray-600;
}
.duration-timer-card .timer-wrapper .timer input[type=number] {
  @apply h-8 w-8 p-1 border-l text-center border-r border-gray-200 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-200 outline-none;
}
.duration-timer-card .timer-wrapper .timer input[type=number]::-webkit-inner-spin-button,
.duration-timer-card .timer-wrapper .timer input[type=number]::-webkit-outer-spin-button {
  @apply m-0 appearance-none;
}
.duration-timer-card .timer-wrapper .action-icons {
  @apply flex items-center gap-1;
}
.duration-timer-card .timer-wrapper .action-icons .icon {
  @apply cursor-pointer;
}
.duration-timer-card .max-limit-info {
  @apply text-sm text-red-500;
}

.create-template {
  @apply w-full p-5 border border-gray-200 dark:border-gray-700 rounded-lg;
  cursor: grab;
}
.create-template .icon svg {
  @apply stroke-gray-500 dark:stroke-gray-400;
}
.create-template .icon.disabled {
  @apply pointer-events-none;
}
.create-template .icon.disabled svg {
  @apply stroke-gray-400 dark:stroke-gray-500;
}
.create-template .create-template-header {
  @apply flex items-center mb-5;
}
.create-template .create-template-header .template-title {
  @apply flex gap-2.5 w-full mr-3;
}
.create-template .create-template-header .template-title input {
  @apply w-full text-xl font-medium outline-none bg-transparent text-gray-600 dark:text-white;
}
.create-template .create-template-header .template-title input::placeholder {
  @apply text-gray-600 dark:text-white;
}
.create-template .create-template-header .config-col {
  @apply flex p-2 border border-gray-200 dark:border-gray-700 rounded-md cursor-pointer;
}
.create-template .create-template-header .config-col div + div {
  @apply pl-2.5 ml-2.5 border-l border-gray-200 dark:border-gray-700;
}
.create-template .create-template-content textarea {
  @apply w-full text-lg resize-none bg-transparent outline-none overflow-y-auto text-gray-500 dark:text-gray-300;
}

.dropdown-wrapper {
  @apply flex items-center px-2.5 py-1.5 border border-gray-200 dark:border-gray-700 rounded-md gap-2.5 cursor-pointer;
}
.dropdown-wrapper .label {
  @apply w-full text-sm text-gray-400;
}
.dropdown-wrapper .icon svg {
  @apply stroke-gray-300 dark:stroke-gray-400 h-4 w-4;
}
.dropdown-wrapper .icon.clicked svg {
  @apply rotate-180;
}

.header {
  @apply text-center py-5 border border-gray-200;
}

.sidebar {
  @apply bg-blue-500 text-white w-fit h-screen dark:bg-gray-900 overflow-y-auto;
}
.sidebar .container {
  @apply px-0;
}
.sidebar li a {
  @apply block py-5 px-7 cursor-pointer font-medium text-xl hover:bg-blue-600;
}

.searchbar-wrapper {
  @apply relative flex items-center gap-2 w-auto border border-gray-200 dark:border-gray-700 pl-2.5 pr-8 rounded-md;
}
.searchbar-wrapper .icon svg {
  @apply h-4 w-4 stroke-gray-500 dark:stroke-gray-400;
}
.searchbar-wrapper .icon.close {
  @apply absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer;
}
.searchbar-wrapper input {
  @apply text-sm text-gray-600 py-1.5 dark:text-gray-300 outline-none w-full bg-transparent cursor-text;
}
.searchbar-wrapper input::placeholder {
  @apply text-gray-400;
}

.template-card-details .card-head {
  @apply flex items-center justify-between gap-5;
}
.template-card-details .card-head .title {
  @apply text-xl font-medium text-gray-600 dark:text-gray-200;
}
.template-card-details .card-head .time {
  @apply text-base whitespace-nowrap text-gray-400;
}
.template-card-details .card-body {
  @apply mt-5;
}
.template-card-details .card-body .excerpt p {
  @apply text-lg text-gray-500 dark:text-gray-300 line-clamp-3;
}

.template-card-details + .template-card-details {
  @apply mt-5;
}

.template-card {
  @apply rounded-lg w-full border border-gray-200 bg-white dark:bg-gray-700 dark:border-gray-600 p-5;
}
.template-card .card-head {
  @apply pb-3 flex items-center justify-between gap-5;
}
.template-card .card-head .title {
  @apply text-lg font-medium text-gray-600 dark:text-gray-200;
}
.template-card .card-head .icons-wrapper {
  @apply relative flex items-center gap-1 flex-nowrap;
}
.template-card .card-head .icons-wrapper .icon {
  @apply inline-block cursor-pointer;
}
.template-card .card-head .icons-wrapper .icon svg {
  @apply stroke-gray-500 dark:stroke-gray-400;
}
.template-card .card-head .icons-wrapper .more-dropdown-driver {
  @apply absolute hidden top-full right-0;
}
.template-card .card-head .icons-wrapper .more-dropdown-driver ul {
  @apply py-2 w-[100px] bg-white rounded border border-gray-200 dark:bg-gray-700 dark:border-gray-600;
}
.template-card .card-head .icons-wrapper .more-dropdown-driver ul li {
  @apply px-3 py-2 block text-base cursor-pointer text-gray-600 dark:text-gray-300;
}
.template-card .card-head .icons-wrapper .more-dropdown-driver ul li:hover {
  @apply bg-gray-100 dark:bg-gray-600;
}
.template-card .divider {
  @apply block h-[1px] w-full bg-gray-200 dark:bg-gray-600;
}
.template-card .card-body {
  @apply pt-3;
}
.template-card .card-body .excerpt p {
  @apply text-lg text-gray-500 dark:text-gray-300 line-clamp-2;
}
.template-card.my-template {
  @apply border-amber-300;
}
.template-card.active {
  @apply border-emerald-300 bg-emerald-50 dark:border-gray-200 dark:bg-gray-600;
}
.template-card.active .card-head .icon.more-icon {
  @apply hidden;
}
.template-card.active .divider {
  @apply dark:bg-gray-500;
}

.template-card + .template-card {
  @apply mt-5;
}

.template-dropdown-list {
  @apply w-64 h-fit bg-white dark:bg-gray-700 border border-gray-200 dark:border-gray-600 rounded-lg shadow-sm;
}
.template-dropdown-list .category-wrapper {
  @apply flex flex-col py-2.5;
}
.template-dropdown-list .category-wrapper .template-category {
  @apply flex items-center px-5 py-2.5 hover:bg-gray-100 dark:hover:bg-gray-600 cursor-pointer;
}
.template-dropdown-list .category-wrapper .template-category p {
  @apply mr-2.5 w-full text-base text-gray-700 dark:text-gray-300;
}
.template-dropdown-list .category-wrapper .template-category input {
  @apply relative h-5 w-5 appearance-none cursor-pointer outline-none before:absolute before:right-0 before:content-[""] before:h-5 before:w-5 before:bg-transparent before:border before:border-gray-200 before:dark:border-gray-600 before:rounded-sm

                checked:after:content-[url("./assets/images/checked.svg")] checked:after:z-10 checked:after:absolute checked:after:right-[3px] checked:after:top-[-2px] checked:before:bg-emerald-50 checked:before:dark:bg-transparent checked:before:border-emerald-500;
}
.template-dropdown-list .category-wrapper .divider {
  @apply block h-[1px] bg-gray-200 dark:bg-gray-600 my-2.5 mx-5;
}
.template-dropdown-list .cta {
  @apply flex border-t border-gray-200 dark:border-gray-600;
}
.template-dropdown-list .cta .cta-btn {
  @apply h-10 flex items-center justify-center w-full cursor-pointer;
}
.template-dropdown-list .cta .cta-btn svg {
  @apply mr-1;
}
.template-dropdown-list .cta .cta-btn.cta-clear {
  @apply border-r border-gray-200 dark:border-gray-600 text-red-500 dark:text-gray-300 bg-red-50 dark:bg-transparent;
}
.template-dropdown-list .cta .cta-btn.cta-apply {
  @apply text-emerald-500 dark:text-gray-300 bg-emerald-50 dark:bg-transparent;
}

.toggle-switch input[type=checkbox] {
  @apply relative outline-none border-none m-0 appearance-none w-9 h-6 cursor-pointer rounded-full bg-gray-300;
}
.toggle-switch input[type=checkbox]::before {
  @apply content-[""] absolute w-4 h-4 top-1 left-1 right-1 bg-white rounded-full;
}
.toggle-switch input[type=checkbox]:checked {
  @apply bg-green-500 shadow-xl;
}
.toggle-switch input[type=checkbox]:checked::before {
  transform: translateX(75%);
  margin: 0;
}

.filters {
  @apply flex gap-10;
}

.layout-content {
  @apply max-h-screen w-full flex;
}
.layout-content .app-nav {
  @apply h-full w-20 flex flex-col text-xs text-gray-600 dark:text-gray-300 text-center justify-between py-7 px-3 border-r border-gray-200 dark:border-gray-700;
}
.layout-content .app-nav li img {
  @apply h-6 mx-auto;
}
.layout-content .app-nav li .icon-user {
  @apply h-12 w-12;
}
.layout-content .app-nav li + li {
  @apply mt-7;
}
.layout-content .app-content {
  @apply flex w-full h-full;
}
.layout-content .app-content .content-header {
  @apply px-7 py-5 flex justify-between border-b border-gray-200 dark:border-gray-700;
}
.layout-content .app-content .content-header .ch-title {
  @apply text-xl font-semibold;
}
.layout-content .app-content .content-header.fixed-header {
  @apply sticky top-0;
}
.layout-content .app-content .content-body {
  @apply overflow-y-auto p-7;
  height: calc(100vh - 9rem);
}
.layout-content .app-content .content-footer {
  @apply px-7 py-5;
}
.layout-content .app-content .content-footer.fixed-footer {
  @apply sticky top-full;
}
.layout-content .app-content .app-page {
  @apply w-2/5 relative border-r border-gray-200 dark:border-gray-700;
}
.layout-content .app-content .app-page-details {
  @apply w-3/5 relative;
}

.template-blocks code {
  @apply mt-10 block w-4/5 mx-auto p-10 border border-gray-200 dark:border-gray-700 h-80 overflow-y-auto;
}

/*# sourceMappingURL=style.css.map */
